<!DOCTYPE html>
<!-- 
  Claire Song
  Topher Forever
  SoftDev
  K15 -- Take & Give
  2024-10-8
  time spent: 0.5
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>Welcome to the team: {{ team_name }}!</h1>
    <h2>Roster: {{ roster | join(', ') }}</h2>

    <form action="/submit" method='POST'>
        <label for="username">Enter Your Name:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Submit</button>
    </form>

    <p>Alternatively, you can submit with GET:</p>
    <form action="/submit" method="GET">
        <input type="text" name="username" placeholder="Your name">
        <input type="submit" value="Submit with GET">
    </form>
  </body>

</html>
